<footer class="footer text-center text-sm-left">
    &copy; 2022 - 2023 NOC <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by </span>
</footer>
