@model NewZapures_V2.Models.Others.ModalHeader

<div class="modal-header">
    <h4 class="modal-title">@Model.Heading</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

</div>
