<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <!--Local-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="HOSTURL" value="https://www.atishay.com/"/>
    <add key="URL" value="http://172.22.33.75/TestCoreAPI/"/>
    <!--<add key="BaseUrl" value="https://localhost:44361/"/>-->
    <add key="BaseUrl" value="http://172.22.33.75/TestCoreAPI/"/>
    <add key="BaseUrlImage" value="https://localhost:44361/"/>
    <add key="ServiceImages" value="https://localhost:44319/"/>
    <!--<add key="UploadedDocument" value="https://www.atishay.com/DemoNocApi/"/>
   <add key="AdharTokenForVerification" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJmcmVzaCI6ZmFsc2UsImlhdCI6MTYzODUyNzgwNCwianRpIjoiNGQzMGFjMjYtZDY2Yi00NTVlLTkyMjMtMDU4Yjc1ZjE3NWNjIiwidHlwZSI6ImFjY2VzcyIsImlkZW50aXR5IjoiZGV2LmF0aXNoYXlAYWFkaGFhcmFwaS5pbyIsIm5iZiI6MTYzODUyNzgwNCwiZXhwIjoxOTUzODg3ODA0LCJ1c2VyX2NsYWltcyI6eyJzY29wZXMiOlsicmVhZCJdfX0.EY09lbr3yzMEQy9MxgHmMe78H0Ei32nI-CFjQM2knHg"/>
    <add key="MobileOTPAPIKey" value="TzObERNX2USxNk3TeSnqGg"/>
    <add key="MobileOTPSenderId" value="ZAPRSE"/>
    <add key="MobileOTPChennel" value="Trans"/>-->
    <add key="SSOBaseUrl" value="https://sso.rajasthan.gov.in/"/>
    <add key="AppName" value="UNOC"/>
    <add key="WebServiceUser" value="UNOC.TEST"/>
    <add key="WebServicePwd" value="Rajasthan@23"/>
  </appSettings>
  <!--Local-->
  <!--Server-->
  <!--<appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="HOSTURL" value="https://www.devops.atishay.com/" />
    <add key="URL" value="http://101.53.144.83:801/DemoNocApi/" />
    <add key="BaseUrl" value="http://101.53.144.83:801/DemoNocApi/" />
    <add key="BaseUrlImage" value="http://101.53.144.83:801/DemoNocApi/" />
    <add key="ServiceImages" value="http://101.53.144.83:801/DemoNOCWeb/" />
    <add key="UploadedDocument" value="http://101.53.144.83:801/DemoNocApi/" />
    <add key="AdharTokenForVerification" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJmcmVzaCI6ZmFsc2UsImlhdCI6MTYzODUyNzgwNCwianRpIjoiNGQzMGFjMjYtZDY2Yi00NTVlLTkyMjMtMDU4Yjc1ZjE3NWNjIiwidHlwZSI6ImFjY2VzcyIsImlkZW50aXR5IjoiZGV2LmF0aXNoYXlAYWFkaGFhcmFwaS5pbyIsIm5iZiI6MTYzODUyNzgwNCwiZXhwIjoxOTUzODg3ODA0LCJ1c2VyX2NsYWltcyI6eyJzY29wZXMiOlsicmVhZCJdfX0.EY09lbr3yzMEQy9MxgHmMe78H0Ei32nI-CFjQM2knHg" />
    <add key="MobileOTPAPIKey" value="TzObERNX2USxNk3TeSnqGg"/>
    <add key="MobileOTPSenderId" value="ZAPRSE"/>
    <add key="MobileOTPChennel" value="Trans"/>
  </appSettings>-->
  <!--Server-->
  <!--For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.
    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>-->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>-->
</configuration>