@{ Layout = null;}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Zapurse - Reset Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/logo-dark.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <style>
        .zapurse-logo {
            position: absolute;
            padding: 10px 20px;
            top: -12px;
            left: 177px;
            border-radius: 50%;
            background: white;
        }

        .heder {
            font-size: 24px;
            font-weight: 600;
            background: linear-gradient(to left, #acb481, #2d5a74, #b4cb74, #2d5a74);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
    </style>
    @Styles.Render("~/content/css")
</head>

<body class="account-body accountbg">




    <!-- Log In page -->
    <div class="container">
        <div class="row vh-100 ">
            <div class="col-12 align-self-center">
                <div class="auth-page">
                    <div class="card auth-card shadow-lg">
                        <div class="card-body">
                            <div class="px-3">
                                <div class="auth-logo-box">
                                    <a href="#" class="zapurse-logo"><img src="~/images/logo-dark.png" height="55" alt="logo"></a>
                                </div><!--end auth-logo-box-->

                                <div class="text-center auth-logo-text">
                                    <h4 class="mt-0 mb-3 mt-5">Reset Password For <span class="heder">Zapurse</span></h4>
                                    <p class="text-muted mb-0">Enter your Email and instructions will be sent to you!</p>
                                </div> <!--end auth-logo-text-->


                                <form class="form-horizontal auth-form my-4" action="/">

                                    <div class="form-group">
                                        <label for="useremail">Username</label>
                                        <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <i data-feather="mail" class="icon-xs"></i>
                                            </span>
                                            <input type="email" class="form-control" name="Email" id="useremail" placeholder="Enter Email" autocomplete="off" required readonly>
                                        </div>
                                    </div><!--end form-group-->

                                    <div class="form-group">
                                        <label for="userpassword">Password</label>
                                        <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <i data-feather="key" class="icon-xs"></i>
                                            </span>
                                            <input type="password" class="form-control" name="Password" id="userpassword" placeholder="Enter password" required>
                                        </div>
                                    </div><!--end form-group-->
                                    <div class="form-group">
                                        <label for="userpassword">Re-Type Password</label>
                                        <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <i data-feather="key" class="icon-xs"></i>
                                            </span>
                                            <input type="password" class="form-control" name="Password" id="userRe-password" placeholder="Re-Enter password" required>
                                        </div>
                                    </div><!--end form-group-->

                                    <div class="form-group mb-0 row">
                                        <div class="col-12 mt-2">
                                            <button class="btn btn-gradient-primary btn-round btn-block waves-effect waves-light" type="button" onclick="Resetpassword();">Reset Password<i class="fas fa-sign-in-alt ml-1"></i></button>
                                        </div><!--end col-->
                                    </div> <!--end form-group-->
                                </form><!--end form-->
                            </div><!--end /div-->
                            @*<div class="m-3 text-center text-muted">
                                    <p class="">Remember It ?  <a href="@Url.Action("login-alt", "authentication")" class="text-primary ml-2">Sign in here</a></p>
                                </div>*@
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div><!--end auth-page-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
    <!-- End Log In page -->
    <!-- jQuery  -->
    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/jquery-ui.min.js"></script>
    <script src="~/scripts/bootstrap.bundle.min.js"></script>
    <script src="~/scripts/metismenu.min.js"></script>
    <script src="~/scripts/waves.js"></script>
    <script src="~/scripts/feather.min.js"></script>
    <script src="~/scripts/jquery.slimscroll.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8/dist/sweetalert2.all.min.js"></script>
    <script src="~/Content/globalDomain.js"></script>
    <script type="text/javascript">
        feather.replace()
        $(document).ready(function () {

            var Email = '@(Request.QueryString["Email"])'
            $('#useremail').val(Email);

            $("#useremail").blur(function (e) {
                e.preventDefault();
                var valu = $('#useremail').val();
                if (valu.length > 0) {

                    var returnFromfun = isValidEmailAddress(valu);

                    if (returnFromfun == false) {

                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: 'Email Address Not Valid...!',
                            allowOutsideClick: false,
                            showCloseButton: true,
                            showConfirmButton: false,

                        });

                        $('#useremail').val('');
                    }
                    else {
                        validateUser();
                    }
                }
            });


            $('#userRe-password').blur(function () {

                if ($("#userpassword").val().length > 0 && $("#userRe-password").val().length>0 ) {
                    if ($("#userpassword").val() != $("#userRe-password").val()) {

                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: 'Password Not Matched...!',
                            allowOutsideClick: false,
                            showCloseButton: true,
                            showConfirmButton: false,

                        });
                        //$("#re-password").addClass('warning');
                    }
                }
            })

        });


        function Resetpassword() {
            if ($("#useremail").val().length == 0) {
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: 'Email Can`t Be Blank...!',
                    allowOutsideClick: false,
                    showCloseButton: true,
                    showConfirmButton: false,

                });
            }
            else if ($("#userpassword").val().length == 0) {
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: 'Password Can`t Be Blank...!',
                    allowOutsideClick: false,
                    showCloseButton: true,
                    showConfirmButton: false,

                });
            }
            else if ($("#userpassword").val().length < 6) {
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: 'Password Must Have 6 Characters Long...!',
                    allowOutsideClick: false,
                    showCloseButton: true,
                    showConfirmButton: false,

                });


            }
            else if ($("#userpassword").val() != $("#userRe-password").val()) {

                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: 'Password Not Matched...!',
                    allowOutsideClick: false,
                    showCloseButton: true,
                    showConfirmButton: false,

                });
                //$("#re-password").addClass('warning');
            }
            else {

                var LoginModel = {
                    "Email": $("#useremail").val(),
                    "Password": $("#userpassword").val(),
                    "Type": 'Reset'
                }

                var d = JSON.stringify(LoginModel);

                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    url: GetglobalDomain() + "/LoginSignup/ResetPassword",
                    dataType: 'json',
                    type: 'Post',
                    cache: false,
                    data: JSON.stringify(LoginModel),
                    success: function (data) {
                        console.log('ajax');
                        console.log(data);

                        if (data.StatusCode == 1 && data.Message == "Password Updated Successfully!") {
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: data.Message + '...!',
                                allowOutsideClick: false,
                                showCloseButton: true,
                                showConfirmButton: false,

                            });

                            $("#useremail").val('');
                            $("#userpassword").val('');
                            $("#userRe-password").val('');

                            setTimeout(function () {
                                var url = GetglobalDomain() + "/authentication/login-alt";
                                window.location.href = url;
                            }, 1000)

                        }
                        else {

                        }

                    },
                    error: function (d) {
                        console.log(d);
                    }
                });

            }
        }

        function validateUser() {

            console.log('validate');
            var validationRequestModel = {
                "Email": $("#useremail").val(),
                "Password": $("#userpassword").val(),
                "Type": 'UserCheck'
            }

            var d = JSON.stringify(validationRequestModel);
            console.log(d);
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: GetglobalDomain() + "/LoginSignup/ValidateUser",
                dataType: 'json',
                type: 'Post',
                cache: false,
                data: JSON.stringify(validationRequestModel),
                success: function (data) {
                    console.log('ajax');
                    console.log(data);

                    if (data.StatusCode == 0 && data.Message == "User Details Not Exists") {
                        $("#userpassword").attr('disabled', 'disabled');
                        $("#userRe-password").attr('disabled', 'disabled');

                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: data.Message + ' Please Try Again...!',
                            allowOutsideClick: false,
                            showCloseButton: true,
                            showConfirmButton: false,
                        });
                    }
                    else {
                        $("#userpassword").removeAttr('disabled');
                        $("#userRe-password").removeAttr('disabled');
                    }

                },
                error: function (d) {
                    console.log(d);
                }
            });


        }

        function isValidEmailAddress(email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        }
    </script>

</body>

</html>