
@{
    Layout = null;
}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel2">Create Rate Master</h4>
            <button type="button" class="close" id="modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        </div>
        <div class="modal-body">

            <div class="form-group is-empty">
                <label for="nameInput" class="col-sm-12 control-label">Type</label>
                <div class="col-sm-12">
                    <select class="singleselect" id="ddltype">
                        <option value="">Select</option>

                        <option value="1">Hardware</option>
                        <option value="2">Services</option>
                    </select>
                </div>
            </div>



        </div>
        <div class="modal-footer">
            <div class="pull-right">
                <button id="btnMatchPrice" class="btn btn-primary">SUBMIT</button>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        

        $('#modal').modal('hide');
        $("#ddltype").select2();

    </script>
 }

