
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoDirectAccess</title>
    <link href="~/Content/LoginSignUp/css/noAccess.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="box">
            <h1>403</h1>
            <p>Sorry, it's not allowed to go beyond this point!</p>
            <p><a href="@Url.Action("Index","Dashboard")">Go To Main Menu.</a></p>
        </div>
    </div>
</body>
</html>
