
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" />*@
    <style>
        @*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');*@

* {
    padding: 0;
    margin: 0
}

        .container {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #d1b0b0
        }

.container .card {
    height: 510px;
    width: 800px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    z-index: 1
}

.container .card .form {
    width: 100%;
    height: 100%;
    display: flex
}

.container .card .left-side {
    width: 40%;
    background-color: #e7f6fa;
    height: 100%
}

.d-none {
    display: none !important
}
        .example3 {
            box-shadow: 10px 10px 5px 12px lightblue;
        }
.main {
    padding: 10px 30px;
    display: none
}

.main_signin {
    padding: 10px 30px;
    display: none
}

.active {
    display: block !important
}

.top-div {
    display: flex;
    flex-direction: column
}

.logo {
    padding: 10px
}

.logo img {
    width: 60px;
    margin-bottom: 10px
}

.steps {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 10px
}

.steps .step .circle {
    height: 40px;
    width: 40px;
    background-color: #ccc;
    border-radius: 50%
}

.steps .step .line {
    width: 22%
}

.top-div img {
    width: 60px;
    margin-bottom: 10px
}

.top-div h2 {
    color: #484a4c
}

.top-div p {
    color: #585e61;
    font-size: 12px;
    font-weight: 700
}

.input-text {
    margin-bottom: 20px;
    margin-top: 10px
}

input[type="text"] {
    height: 35px;
    width: 100%;
    border: none;
    background-color: transparent;
    outline: 0;
    border-bottom: 1px solid #d4dfe4;
    font-size: 12px
}

input[type="password"] {
    height: 35px;
    width: 100%;
    border: none;
    background-color: transparent;
    outline: 0;
    border-bottom: 1px solid #d4dfe4;
    font-size: 12px
}

select {
    height: 35px;
    width: 100%;
    border: none;
    background-color: transparent;
    outline: 0;
    border-bottom: 1px solid #d4dfe4;
    font-size: 12px
}

.input-text select option:nth-child(1) {
    display: none !important
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.final_button {
    margin-top: 130px
}

.buttons button {
    height: 35px;
    width: 100%;
    outline: 0;
    border: 0;
    background-color: brown;
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
    cursor: pointer
}

.warning {
    border-bottom: 1px solid red !important
}

.check_box {
    text-align: center
}

.check_box p {
    font-size: 13px;
    font-weight: 700
}

.sign_in {
    text-align: center;
    margin: 20px 0
}

.sign_button {
    margin-top: 70px
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}

.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}

@*@keyframes stroke {
    100% {
        stroke-dashoffset: 0
    }
}

@keyframes scale {

    0%,
    100% {
        transform: none
    }

    50% {
        transform: scale3d(1.1, 1.1, 1)
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142
    }
}*@

.container .card .right-side {
    width: 60%;
    height: 100%;
    position: relative
}

.right-side .cover-image {
    height: 100%;
    position: relative
}

.right-side img {
  /*  width: 100%;*/
    height: 100%;
    position: relative;
    object-fit: cover
}

.header {
    position: absolute;
    top: 20px;
    right: 10px;
    color: #fff;
    padding: 10px 20px;
    margin-left: 90px;
    display: flex;
    align-items: center
}

.header p {
    font-size: 12px;
    font-weight: 900;
    color: #fff
}

.header button {
    color: #428baa;
    background-color: #fff;
    border: none;
    height: 25px;
    width: 60px;
    margin-left: 10px;
    cursor: pointer
}

.right_text {
    position: absolute;
    bottom: 50px;
    color: #fff;
    left: 40px
}

.right_text h2 {
    font-size: 20px;
    margin-bottom: 10px
}

.right_text p {
    font-size: 12px;
    font-weight: 600
}

.steps {
    width: 100%;
    counter-reset: css-counter 0;
    padding: 4px
}

.steps li {
    list-style: none;
    width: 25%;
    float: left;
    position: relative;
    text-align: center;
    counter-increment: css-counter 1
}

.steps li:before {
    content: counter(css-counter);
    height: 30px;
    width: 30px;
    background-color: #ccc;
    border-radius: 50%;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    color: #fff;
    line-height: 30px
}

.steps li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: blue;
    top: 15px;
    z-index: -1
}

li:first-child::after {
    display: none
}

li.li-active::before {
    background-color: green
}

@*@media only screen and (max-width:750px) {*@
    .container .card {
      /*  max-width: 350px*/
    }

    .container .card .right-side {
      /*  display: none*/
    }

    .container .card .left-side {
        width: 100%
    }
/*}*/
        .img1 {
          
            background: url(/images/logo-dark.png) no-repeat;
            -moz-box-shadow: 0px 6px 5px #ccc;
            -webkit-box-shadow: 0px 6px 5px #ccc;
            box-shadow: 0px 6px 5px #ccc;
          
        }
    </style>
</head>

<body style="
    background: dimgray;">
    <div class="container col-sm-12">
        <div class="card ">
            <div class="form">
               
                    <div class="left-side example3" style="background: whitesmoke;">
                        <div class="signup-form s_form">
                            <div class="logo row">
                 
                                <img src="~/images/logo-dark.png">

                                <ul class="steps">
                                    <li class="li-active"></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                            <div class="main active">
                                <div class="top-div">
                                    <p>Basic Details</p>
                                </div>
                                <div class="input-text"> <input type="text" placeholder="First name" id="user_name" require> </div>
                                <div class="input-text"> <input type="text" placeholder="Last name"> </div>
                                <div class="input-text"> <input type="text" placeholder="Village/Town/City" require> </div>
                                <div class="input-text"> <input type="text" placeholder="State" require> </div>
                                <div class="input-text"> <input type="text" placeholder="Country" require> </div>
                                <div class="buttons"> <button class="next_button">Next</button> </div>
                            </div>
                            <div class="main">
                                <div class="top-div">
                                    <p>Log in to continue</p>
                                </div>
                                <div class="input-text"> <input type="text" placeholder="Father's name" require> </div>
                                <div class="input-text"> <input type="text" placeholder="Mother's name" require> </div>
                                <div class="input-text"> <input type="text" placeholder="Contact No" require> </div>
                                <div class="input-text">
                                    <select require>
                                        <option>Select Category</option>
                                        <option>General</option>
                                        <option>OBC</option>
                                        <option>SC</option>
                                        <option>ST</option>
                                        <option>PWD</option>
                                        <option>EWS</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                                <div class="input-text">
                                    <select>
                                        <option>Educational Qualification</option>
                                        <option>10th</option>
                                        <option>12th</option>
                                        <option>Graduation</option>
                                        <option>Post Graduation</option>
                                        <option>Doctarate</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                                <div class="buttons"> <button class="previous_button">Previous</button> <button class="next_button">Next</button> </div>
                            </div>
                            <div class="main ">
                                <div class="top-div">
                                    <p>Log in to continue</p>
                                </div>
                                <div class="input-text"> <input type="text" placeholder="Enter your class 12th percentage." require> </div>
                                <div class="input-text"> <input type="text" placeholder="Enter your school name"> </div>
                                <div class="input-text"> <input type="text" placeholder="Enter your graduation percentage" require> </div>
                                <div class="input-text"> <input type="text" placeholder="Enter your institution/college/university name"> </div>
                                <div class="input-text">
                                    <select>
                                        <option>Any extra-curricular activity</option>
                                        <option>Yes</option>
                                        <option>No</option>
                                    </select>
                                </div>
                                <div class="buttons"> <button class="previous_button">Previous</button> <button class="next_button">Next</button> </div>
                            </div>
                            <div class="main ">
                                <div class="top-div">
                                    <p>Log in to continue</p>
                                </div>
                                <div class="input-text"> <input type="text" placeholder="Enter your E-mail address" require> </div>
                                <div class="input-text"> <input type="password" placeholder="Enter your password" require> </div>
                                <div class="input-text"> <input type="password" placeholder="Confirm Password" require> </div>
                                <div class="buttons final_button"> <button class="previous_button">Previous</button> <button class="submit_button">Submit</button> </div>
                            </div>
                            <div class="main">
                                <div class="top-div">
                                    <h2>Welcome Back</h2>
                                    <p>Log in to continue</p>
                                </div> <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                                </svg>
                                <div class="check_box">
                                    <p>Congratulations Mr./Mrs <span id="shown_name"></span> you have successfully registered.</p>
                                </div>
                            </div>
                        </div>
                        <div class="signin-form s_form d-none">
                            <div class="main_signin active">
                                <div class="top-div">
                                    <img src="~/images/logo-dark.png">
                                    <h2>Welcome Back</h2>
                                    <p>Log in to continue</p>
                                </div>
                                <div class="sign_in">
                                    <h3>Sign In</h3>
                                </div>

                                <div class="input-text"> <input type="text" placeholder="Username" id="user_signin_name" require> </div>
                                <div class="input-text"> <input type="text" placeholder="E-mail" require> </div>
                                <div class="input-text"> <input type="password" placeholder="Password" require> </div>
                                <div class="buttons sign_button"> <button class="signin_submit_button">Submit</button> </div>
                            </div>
                            <div class="main_signin">
                                <div class="top-div">
                                    <img src="~/images/logo-dark.png">
                                    <h2>Welcome Back</h2>
                                    <p>Log in to continue</p>
                                </div> <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                                </svg>
                                <div class="check_box">
                                    <p>Congratulations1 Mr./Mrs <span id="shown_signin_name"></span> you have successfully loggedin.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-side">
                        <div class="cover-image"> <img class="right_img " src="https://www.zapurse.in/wp-content/uploads/2021/11/young-adult-african-american-girl-sitting-indoors-doing-mobile-payment-online-.jpg"> <img class="right_img d-none" src="https://www.zapurse.in/wp-content/uploads/2021/11/confident-business-team--1024x1536.jpg"> </div>
                        <div class="header row">
                            @*<p class="account col-sm-8" style="color:black;">Already have an account?</p>  <p class="account col-sm-8 d-none" style="color:black;">Don't have an account?</p>*@   <button class="sign-in-up-toggle col-sm-8" style=" background: black !important; color: wheat !important; width: fit-content !important; ">Sign in</button>

                        </div>
                        <div class="right_text">
                            <h1 style="color:black;">The Smart Way for Online Payment Solution</h1>
                            <p style="color:black">Zapurse is a digital payments platform , offering a wide range of services Including Aadhar Enabled Payment System, Micro ATM, Domestic Money Transfer, Mobile recharges and DTH recharges</p>
                        </div>
                    </div>
               
</div>
        </div>
    </div>
</body>

</html>
<script type="text/javascript">
    var nxt_btn=document.querySelectorAll(".next_button");
var prev_btn=document.querySelectorAll(".previous_button");
var submit_btn=document.querySelectorAll(".submit_button");
var main_form=document.querySelectorAll(".main");
var main_signin_form=document.querySelectorAll(".main_signin");
var sign_in_submit=document.querySelector(".signin_submit_button")
var progressbar = document.querySelectorAll(".steps li");
var steps = document.querySelector(".steps");
let forumnumber=0;
nxt_btn.forEach(function(butn){
butn.addEventListener('click',function(){
if(!validateform()){
return false;
}
forumnumber++;
progress('color');
update_form();
});
});


prev_btn.forEach(function(prev_button){
prev_button.addEventListener('click',function(){
forumnumber--;
progress('nocolor');
update_form();
});
});

submit_btn.forEach(function(submit_button){
submit_button.addEventListener('click',function(){
if(!validateform()){
return false;
}
var f_name=document.querySelector("#user_name");
var shown_name = document.querySelector("#shown_name");
shown_name.innerHTML=f_name.value;
forumnumber++;
update_form();
steps.classList.add("d-none");
});
});

let signinnumber = 0;
sign_in_submit.addEventListener('click',function(){
if(!validateformsignin()) return false;
signinnumber++;
main_signin_form.forEach(function(main){
main.classList.remove("active");
});
var f_name=document.querySelector("#user_signin_name");
var shown_name = document.querySelector("#shown_signin_name");
shown_name.innerHTML=f_name.value;
main_signin_form[signinnumber].classList.add("active");
});




function progress(state){
if(state=='color'){
progressbar[forumnumber].classList.add('li-active');
}else{

progressbar[forumnumber+1].classList.remove('li-active');
}

}


function update_form(){
main_form.forEach(function(main){
main.classList.remove('active');
});
main_form[forumnumber].classList.add('active');
}

function validateform(){
validate=true;
var validate_inputs = document.querySelectorAll(".main.active input");
validate_inputs.forEach(function(input_valid){
input_valid.classList.remove('warning');
if(input_valid.hasAttribute('require')){
if(input_valid.value.length==0){
validate=false;
input_valid.classList.add('warning');
}
}
});
return validate;
}

function validateformsignin(){
validate=true;
var validate_inputs = document.querySelectorAll(".main_signin.active input");
validate_inputs.forEach(function(input_valid){
input_valid.classList.remove('warning');
if(input_valid.hasAttribute('require')){
if(input_valid.value.length==0){
validate=false;
input_valid.classList.add('warning');
}
}
});
return validate;
}


var signin_toggle = document.querySelector(".sign-in-up-toggle");
var s_form = document.querySelectorAll(".s_form");
var account = document.querySelectorAll(".account");
var right_image=document.querySelectorAll(".right_img");
signin_toggle.addEventListener('click',function(){

s_form.forEach(function(form){
form.classList.toggle("d-none");
});

account.forEach(function(acc){
acc.classList.toggle("d-none");
});

right_image.forEach(function(ri_img){
ri_img.classList.toggle("d-none");
});

if(signin_toggle.innerHTML=="Sign in"){
signin_toggle.innerHTML="Sign up";
}
else{
signin_toggle.innerHTML="Sign in";
}


});
</script>
