@using NewZapures_V2.Models
@model LandDetailsBO
@{
    ViewBag.Title = "Land And Building Information";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //var university = ViewBag.universityCollection as List<Dropdown>;

}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
<link href="~/Content/select2/css/select2.css" rel="stylesheet" />

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
@*<link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">*@
<link rel="stylesheet" href="~/Content/DashboardCss/AdminLTE2/plugins/fontawesome-free/css/all.min.css">
<!-- Theme style -->
@*<link rel="stylesheet" href="../../dist/css/adminlte.min.css">*@
<link rel="stylesheet" href="~/Content/DashboardCss/AdminLTE2/css/adminlte.min.css">
<style type="text/css">
    .dropify-wrapper {
        display: block;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        height: 138px;
        padding: 5px 10px;
        font-size: 14px;
        line-height: 22px;
        color: #777;
        background-color: #FFF;
        background-image: none;
        text-align: center;
        border: 2px solid #E5E5E5;
        -webkit-transition: border-color .15s linear;
        transition: border-color .15s linear;
    }

    .table thead {
        background-color: #646d91 !important;
    }

    .table th {
        color: #ffffff !important;
    }

    .fsc {
        background: #6441A5;
        background: -webkit-linear-gradient(to left, #2a0845, #6441A5);
        background: linear-gradient(to left, #506ee4, #5b3a96);
        border-radius: 12px;
    }

        .fsc h4 {
            color: white !important;
        }

    .fsi {
        background: #6441A5;
        background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
        background: linear-gradient(to right, #506ee4, #5b3a96);
        border-radius: 12px;
    }

        .fsi h4 {
            color: white !important;
        }

    .fop {
        background: #B993D6; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #8CA6DB, #B993D6); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 12px;
    }

        .fop h4 {
            color: white !important;
        }

    .locationBTN {
        color: white !important;
        background: #f953c6; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #b91d73, #f953c6); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
</style>



<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">NOC</li>
                    @*<li class="breadcrumb-item">Master</li>*@
                    <li class="breadcrumb-item active">Land & Building Information</li>
                </ol>
            </div>
            <h4 class="page-title">@ViewBag.Title</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header fsi">
                <h4 class="mt-0 header-title float-left">Land And Building Information</h4>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("SaveDetails", "LandBuildingInfo", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label for="example-text-input" class="col-sm-6" style="margin-left:-10px">Land Area</label>
                            <div style="display:flex">
                                <input class="form-group col-sm-6" placeholder="Land Area" type="file" id="fupFile" name="LandAreaProof" />
                                @*<button class="btn col-sm-2 locationBTN" id="btnUpload"><i class="ti-upload"></i> Upload Doc</button>*@
                            </div>
                        </div>

                    </div>
                    <div class="card-header fsc">
                        <h4 class="header-title">Land Convert</h4>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label for="example-text-input" class="col-sm-12" style="margin-left:-10px"></label>
                      
                            <div class="custom-control custom-radio col-sm-4">
                                <input class="form-group col-sm-2 custom-control-input custom-control-input-primary" type="radio" name="IsLandConvert" id="IsLandConvertYes" value="yes">
                                <label for="IsLandConvertYes" class="custom-control-label">YES</label>
                            </div>
                            <div class="custom-control custom-radio col-sm-4">
                                <input class="form-group col-sm-2 custom-control-input custom-control-input-danger" type="radio" name="IsLandConvert" id="IsLandConvertNo" value="no">
                                <label for="IsLandConvertNo" class="custom-control-label">No</label>
                            </div>
                        </div>

                    </div>
                    <div class="row">                        
                        <div class="form-group col-lg-6">
                            <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Owner Name</label>
                            <div>
                                <input type="text" class="form-control" name="OwnerName" id="txtOwnerName" autocomplete="off"  />
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label for="example-text-input" class="col-sm-6" style="margin-left:-10px">Certificate Document</label>
                            <div style="display:flex">
                                <input class="form-group col-sm-6" placeholder="Certificate Doc" name="LandConvertProof" type="file" id="certficateDocuFile" />
                                <span id="LandArea"></span>
                                @*<button class="btn col-sm-2 locationBTN" id="btnUpload"><i class="ti-upload"></i> Certificate Doc</button>*@
                            </div>
                        </div>
                    </div>
                   
                    <div class="card-header fsc">
                        <h4 class="header-title">Own Building</h4>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Order No</label>
                            <div>
                                <input type="text" class="form-control" name="OrderNo" id="txtOrderNO" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Order Date</label>
                            <div>
                                <input type="date" class="form-control" name="OrderDate" id="txtOrderDate" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Details Of Land</label>
                            <div>
                                <input type="text" class="form-control" name="LandDetail" id="txtDetailsOfLand" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="example-text-input" class="col-sm-12" style="margin-left:-10px">Khasra No</label>
                            <div>
                                <input type="text" class="form-control" name="LandNo" id="txtKhasraNo" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <div class="card-header fsc">
                        <h4 class="header-title">If any Other Institute by the socity /trust/company</h4>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">

                            <label for="example-text-input" class="col-sm-12" style="margin-left:-10px"></label>                                                      
                            <div class="custom-control custom-radio col-sm-4">
                                <input class="form-group col-sm-2 custom-control-input custom-control-input-primary" type="radio" id="customRadioYes" value="yes" name="IsAnyOtherInfo">
                                <label for="customRadioYes" class="custom-control-label">YES</label>
                            </div>
                            <div class="custom-control custom-radio col-sm-4">
                                <input class="form-group col-sm-2 custom-control-input custom-control-input-danger" type="radio" id="customRadioNo" value="No" name="IsAnyOtherInfo">
                                <label for="customRadioNo" class="custom-control-label">No</label>
                            </div>

                        </div>
                        <div class="form-group col-lg-12">

                            <label for="example-text-input" class="col-sm-3" style="margin-left:-10px">If Yes Upload</label>
                            <div style="display:flex">
                                <input class="form-group col-sm-6" placeholder="Land Area" type="file" id="UploadFile" name="OwnBuildingProof"/>
                                <button class="btn col-sm-2 locationBTN" id="btnUpload"><i class="ti-upload"></i> Upload Doc</button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-12" style="text-align:center">
                            <button type="submit" id="btnsubmitDetails" style="display:none"></button>
                            <button class="btn btn col-sm-2" type="button"  id="btnSave" style="color:white!important;background: #f953c6; background: -webkit-linear-gradient(to left, #b91d73, #f953c6); background: linear-gradient(to left, #b91d73, #f953c6);  "><i class="fa fa-plus"></i> Save</button>
                            <button class="btn btn col-sm-2" id="btnCapitalAdd" style="color:white!important;background: #f953c6; background: -webkit-linear-gradient(to left, #b91d73, #f953c6); background: linear-gradient(to left, #1d6cb9, #4f5fe0);">NEXT</button>
                            @*<button class="btn col-sm-2 btnNext" id="btnSaveNext">Next <i class="fas fa-arrow-right"></i></button>*@

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


</div>


<script src="~/Content/jquery/jquery.js"></script>
<script src="~/Content/select2/js/select2.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8/dist/sweetalert2.all.min.js"></script>
<script src="~/Content/globalDomain.js"></script>
<script type="text/javascript">


    $(document).ready(function () {
      
        var isuserExists = '@TempData["isSaved"]'
        var message = '@TempData["msg"]'
        if (isuserExists == 1 && message.length> 0) {
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: message,
                    allowOutsideClick: false,
                    showCloseButton: true,
                    showConfirmButton: false,

                });
        }
        if (isuserExists == 0 && message.length> 0) {
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: message,
                    allowOutsideClick: false,
                    showCloseButton: true,
                    showConfirmButton: false,
                });
        }

        //$("#ddlOperator").select2({
        //    templateResult: formatState,
        //    templateSelection: formatState
        //});
        $("#ddlUniverSity").select2();

    });

    

    //function CheckValidation() {
    //    var status = true;
    //   // var Bankname = $('#txtBankName').val().trim();
    //    var MobileNumber = $('#txtMobileNumber').val().trim();
    //    var Email = $('#txtEmail').val().trim();
    //    var WebsiteUrl = $('#txtWebsiteurl').val().trim();
    //    var Address1 = $('#txtAddressLine1').val().trim();
    //    var Address2 = $('#txtAddressLine2').val().trim();
    //    var AdiMobileNumber = $('#txtAddiMobileNumber').val().trim();
    //    var LandlineNumber = $('#txtLandlineNumber').val().trim();

    //    if (MobileNumber.length <= 0) {
    //        Swal.fire({
    //            position: 'center',
    //            icon: 'error',
    //            title: 'Mobile Number Required...!',
    //            allowOutsideClick: false,
    //            showCloseButton: true,
    //            showConfirmButton: false
    //        })
    //        $('#txtMobileNumber').focus();
    //        $('#txtMobileNumber').val('');
    //        status = false;
    //     }
    //    else if (Email.length <= 0) {
    //         Swal.fire({
    //             position: 'center',
    //             icon: 'error',
    //             title: 'Email Id Required...!',
    //             allowOutsideClick: false,
    //             showCloseButton: true,
    //             showConfirmButton: false,
    //         })
    //         $('#txtEmail').focus();
    //         $('#txtEmail').val('');
    //         status = false;
    //     }
    //    else if (WebsiteUrl.length <= 0) {
    //        Swal.fire({
    //            position: 'center',
    //            icon: 'error',
    //            title: 'Website URL Required...!',
    //            allowOutsideClick: false,
    //            showCloseButton: true,
    //            showConfirmButton: false
    //        })
    //        $('#txtWebsiteurl').focus();
    //        $('#txtWebsiteurl').val('');
    //        status = false;
    //    }
    //    else if (Address1.length <= 0) {
    //        Swal.fire({
    //            position: 'center',
    //            icon: 'error',
    //            title: 'Address1 is Required...!',
    //            allowOutsideClick: false,
    //            showCloseButton: true,
    //            showConfirmButton: false,
    //        })
    //        $('#txtAddressLine1').focus();
    //        $('#txtAddressLine1').val('');
    //        status = false;
    //    }
    //    else if (Address2.length <= 0) {
    //        Swal.fire({
    //            position: 'center',
    //            icon: 'error',
    //            title: 'Address2 is Required...!',
    //            allowOutsideClick: false,
    //            showCloseButton: true,
    //            showConfirmButton: false,
    //        })
    //        $('#txtAddressLine2').focus();
    //        $('#txtAddressLine2').val('');
    //        status = false;
    //    }
    //    else if (AdiMobileNumber.length <= 0) {
    //        Swal.fire({
    //            position: 'center',
    //            icon: 'error',
    //            title: 'Additional Mobile Number Required...!',
    //            allowOutsideClick: false,
    //            showCloseButton: true,
    //            showConfirmButton: false
    //        })
    //        $('#txtAddiMobileNumber').focus();
    //        $('#txtAddiMobileNumber').val('');
    //        status = false;
    //    }
    //    else if (LandlineNumber.length <= 0) {
    //        Swal.fire({
    //            position: 'center',
    //            icon: 'error',
    //            title: 'Landline Number Required...!',
    //            allowOutsideClick: false,
    //            showCloseButton: true,
    //            showConfirmButton: false
    //        })
    //        $('#txtLandlineNumber').focus();
    //        $('#txtLandlineNumber').val('');
    //        status = false;
    //    }

    //    if (status) {
    //        $('#btnsubmitDetails').click();
    //    }
    //}
    function numberOnly(id) {
        // Get element by id which passed as parameter within HTML element event
        var element = document.getElementById(id);
        // This removes any other character but numbers as entered by user
        element.value = element.value.replace(/[^0-9]/gi, "");
    }
    function charecterOnly(id) {
        // Get element by id which passed as parameter within HTML element event
        var element = document.getElementById(id);
        // This removes any other character but numbers as entered by user
        element.value = element.value.replace(/[^A-Za-z]/, "");
    }
</script>



